*.pyc
*.log
*.txt
*.png
NOTES
TODO
data.jpg
image.jpg
data/*
image/*
test/pickle/metadata
tests/profiling/results/
tests/profiling/output/
tests/profiling/chunks/
tests/profiling/splits/
tests/profiling/subchunks/
